body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #c6f2f3;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.quem-somos {
    background-color: #00AbB7;
    color: black;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.serviços {
    background-color: #c6f2f3;
    color: black;
}
.contato {
    background-color: #00AbB7;
    color: black;
}

.bg-footer {
    background: black;
    color: white;
}

.contatoEmailPhone {
    display: flex;
    justify-content: center
}
.contatoEmailPhone div  { 
    display: flex;
    align-items: center;
    margin: 15px;
}
.contatoEmailPhone p{
    padding-left: 12px;
}

.redesImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;

}
