body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #bef0ff;
}
.quem-somos {
    background-color: #3498DB;
    color: white;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.serviços {
    background-color: #0767a7;
    color: white;
}
.contato {
    color: black;
}

.bg-footer {
    background: black;
    color: white;
}

.contatoEmailPhone {
    padding: 0 35%;
    display: flex;

}
.contatoEmailPhone div  { 
    display: flex;
    align-items: center;
    margin: 15px;
    
}
.contatoEmailPhone p{
    padding-left: 12px;
}
.redesImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;

}

